<div class="row mt-5">
  <div class="col-md-6">
    <a href="/car_models" class="btn btn-outline-primary float-end">Explore Car Model</a>
  </div>
  <div class="col-md-6">
    <a href="/car_types" class="btn btn-outline-primary">Explore Car Type</a>
  </div>
</div>
<div class="row mt-3">
  <div class="col-md-6">
    <a href="/car_colors" class="btn btn-outline-primary float-end">Explore Car Color</a>
  </div>
  <div class="col-md-6">
    <a href="/bid_types" class="btn btn-outline-primary">Explore Bid Type</a>
  </div>
</div>